.bg-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background: rgba(0,0,0,0.3);
    display: none;
}

#noAuthModal .base-modal{
	width: 300px;
    height: 110px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    background: #fff;
    z-index: 1050;
    border-radius: 10px; 
    margin-left: -150px;
    overflow: hidden;
    display: none;
}

#noAuthModal .modal-tip{
    color: #333;
    font-size: 16px;
    height: 60px;
    padding:10px 20px 0 20px;
}

#noAuthModal .opt-btn button{
    float: left;
    border: none;
    background: #fff;
    width: 50%;
    height: 50px;
    color: #333;
}
#noAuthModal .opt-btn .btn{
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box;
    color:#fe295a;
}


#payFailModal .base-modal{
    width: 300px;
    height: 140px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    background: #fff;
    z-index: 1050;
    border-radius: 10px; 
    margin-left: -150px;
    overflow: hidden;
}

#payFailModal .modal-tip{
    color: #333;
    font-size: 16px;
    height: 60px;
    padding:10px 20px 0 20px;
}

#payFailModal .modal-tip2{
    color: #999;
    font-size: 14px;
    text-align: center;
    height:30px;
}

#payFailModal .opt-btn button{
    float: left;
    border: none;
    background: #fff;
    width: 50%;
    height: 50px;
    color: #333;
}
#payFailModal .opt-btn .btn{
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box;
    color:#fe295a;
}