body{
   background-color:#f4f6fa;
   font-size:16px;
   color:#5e5e5e;
   padding-bottom:50px;
   //font-family: "Lantinghei SC";
}
ul, p {
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none outside none;
	padding:0;
}

p,label {font-size: 0.75rem; color: #5e5e5e;}  // 12px;

input{-webkit-tap-highlight-color:rgba(255,0,0,0);outline:0;}

a { 
  text-decoration: none;
  color:#5e5e5e;
}

input,select,textarea{
  box-shadow: none!important;
}

button{
  outline:none;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.text-left{
  text-align:left;
}

.text-center{
  text-align:center;
}

.text-right{
  text-align:right;
}

.split-line{
    width:100%;
    border-bottom: 1px solid #e7e7e7;
}

.font-12{
  font-size: 12px!important;
}

.font-13{
  font-size: 13px!important;
}

.font-14{
  font-size: 14px!important;
}

.color-999{
  color:#999;
}

#wrapper{
    max-width: 640px;
    margin: 0 auto;
    min-width: 320px;
}