#setPassword .register-box {
  margin-top: 90px;
}
#setPassword .register-num {
  height: 51px;
  line-height: 50px;
  border: 1px solid #e7e7e7;
  padding: 0 10px;
  box-sizing: border-box;
  border-left: 0;
  border-right: 0;
  background: #fff;
}
#setPassword .register-password {
  height: 50px;
  line-height: 50px;
  background: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}
#setPassword .register-color {
  font-size: 16px;
  color: #333;
}
#setPassword input {
  font-size: 16px;
  height: 49px;
  color: #999;
  text-align: right;
  border: none;
}
#setPassword :-moz-placeholder {
  color: #e4e4e4;
  text-align: right;
}
#setPassword ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e4e4e4;
  text-align: right;
}
#setPassword input:-ms-input-placeholder, #setPassword textarea:-ms-input-placeholder {
  color: #e4e4e4;
  text-align: right;
}
#setPassword input::-webkit-input-placeholder, #setPassword textarea::-webkit-input-placeholder {
  color: #e4e4e4;
  text-align: right;
}
#setPassword .register-submit {
  max-width: 750px;
  width: 100%;
  height: 40px;
  margin-top: 25px;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}
#setPassword .register-submit button {
  color: #fff;
  background: #fe295a;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 4px;
}
#setPassword .register-link {
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 22px;
  text-align: center;
}
#setPassword .register-link p {
  font-size: 12px;
  color: #999;
}
#setPassword .register-link a {
  color: #fe295a;
  font-size: 12px;
}
