#product .product {
  height: 100px;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  padding: 5px 10px 5px 15px;
}
#product .product-detail {
  height: 90px;
  padding-top: 10px;
  padding-left: 10px;
}
#product .product-detail p {
  font-size: 14px;
  text-align: justify;
  color: #333;
}
#product .prodcut .shop-icon {
  display: inline-block;
  background: url("/images/ban_icons.png") no-repeat -4px -28px;
  width: 15px;
  height: 15px;
  background-size: 46px 48px;
  vertical-align: sub;
}
#product .shop-price {
  margin-top: 10px;
  color: #999;
  font-size: 0.75rem;
}
#product .original-price {
  float: right;
  padding-top: 0.1rem;
  text-decoration: line-through;
}
#product .sale-status {
  clear: both;
  margin-top: 5px;
  height: 15px;
  line-height: 15px;
}
#product .key-price {
  font-size: 14px;
  color: #fe295a;
}